
*.~vsdx

Documentation/~\$quirements\.docx

Documentation/~WRL0413\.tmp

Web-Application/\.idea/

Web-Application/Back_End/__pycache__

Web-Application/Back_End/scripts/__pycache__/

\.idea/
