<!DOCTYPE html>
<html>

<body>

<!-- <h1 id="ledBulb">LED BULB</h1>

<form action="/index" method="POST">
  <button name="red_on_button" type="submit">Turn Red On</button>
</form>

<h2>Turn Off</h2>
<button type="button" onclick="changeLight('lightgrey')">Turn Off</button>
  -->
<a href="/red"><input type="button" value="RED ON"></a>
<a href="/blue"><input type="button" value="BLUE ON"></a>
<a href="/green"><input type="button" value="GREEN ON"></a>
<a href="/off"><input type="button" value="TURN OFF"></a>


<script>
  function changeLight(color) {
    document.getElementById('ledBulb').style.color = color;
  }
  </script>

</body>
</html>
