<!DOCTYPE html>
<html>
<body>

<h1 id="ledBulb">LED BULB</h1>

<h2>RED</h2>
<button type="button" onclick="changeLight('red')">Turn Red On</button>

<h2>GREEN</h2>
<button type="button" onclick="changeLight('green')">Turn Green On</button>

<h2>BLUE</h2>
<button type="button" onclick="changeLight('blue')">Turn Blue On</button>

<h2>Turn Off</h2>
<button type="button" onclick="changeLight('lightgrey')">Turn Off</button>
 
<script>
  function changeLight(color) {
    document.getElementById('ledBulb').style.color = color;
  }
  </script>

</body>
</html>
